body {
    background-color: #f5f5f5;
}

.lobbyheader {
    background-color: cadetblue;
}

#version {
    font-size: 0.8em;
    color: cadetblue;
}

.buttonDark {
    background: darkslategrey;
    color: white;
    font-size: 1.0em;
    border: 2px solid white;
    border-radius: 0.2em;
    margin: 5px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding: 2px 12px;
    cursor: pointer;
}

.buttonLight {
    background: cadetblue;
    color: white;
    font-size: 1.0em;
    border-radius: 0.2em;
    margin-left: 5px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding: 2px 12px;
    cursor: pointer;
}

#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.cards-table {
    height: 400px;
    background-color: darkslategrey;
}

.partner {
    height: 185px;
    background-color: cadetblue;
}

.opponent {
    height: 400px;
    background-color: cadetblue;
}

.player {
    height: 295px;
    background-color: cadetblue;
}

.player-name {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.nrOfTricks {
    color: white;
}

.player-name-highlight {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 0.4em;
    background-color: white;
    padding-left: 10px;
    animation: shake 2s;
    animation-iteration-count: 3;
}

#cards-table {
    padding-left: 0;
    padding-right: 0;
}
.diamonds,
.hearts {
    color: red;
    border-color: red;
}

.spades,
.clubs {
    color: black;
    border-color: black;
}

.diamonds,
.clubs {
    border-width: 4px;
    border-style: double;
}

.hearts,
.spades {
    border-width: 2px;
    border-style: solid;
}

#tableNorth,
#tableSouth {
    height: 130px;
    margin-left: 20px;
}

#tableEast,
#tableWest {
    height: 110px;
    margin-left: 20px;
}

.card-in-hand {
    width: 50px;
    height: 90px;
    background-color: white;
    border-radius: 0.4em;
    float: left;
    margin-left: 4px;
    margin-bottom: 5px;
    font-size: 0.8em;
    cursor: pointer;
}

.notPlayable {
    background-color: lightgrey;
    cursor: default;
}

.notPlayable.diamonds,
.notPlayable.hearts {
    color: darkred;
    border-color: darkred;
}

.notPlayable .red-suit {
    color: darkred;
}

.card-on-table {
    width: 50px;
    height: 90px;
    background-color: white;
    border-radius: 0.4em;
    float: left;
    margin-left: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 0.8em;
}

.suit {
    font-size: 1.5em;
    margin-left: 0.1em;
}
.rank {
    text-align: center;
    font-size: 1.5em;
}

.trump {
    font-size: 3em;
    padding-top: 12px;
    height: 130px;
}

#bidding {
    background-color: white;
    text-align: center;
    border-radius: 0.4em;
}

.action {
    background-color: cadetblue;
    color: white;
    width: 105px;
    border-radius: 0.4em;
    padding: 2px 5px 0;
    margin: 10px;
    border: 2px solid white;
}

.action:hover {
    cursor:pointer;
}

.bidOnTable {
    padding-top: 33px;
    padding-left: 7px;
    margin: 5px 10px;
}

.bidOnTable .bid {
    width: 41px;
    background-color: white;
    border-radius: 0.4em;
    padding-left: 6px;
    padding-top: 1px;
}

#bidPlay {
    margin-bottom: 20px;
}

.other-player-cards {
    padding-left: 20px;
}

.half-card {
    width: 10px;
    height: 90px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    background-color: #005d8b;
    float: left;
    border-bottom-left-radius: 0.2em;
    border-top-left-radius: 0.2em;
}

.full-card {
    width: 50px;
    height: 90px;
    background-color: #005d8b;
    border: 2px solid white;
    border-radius: 0.2em;
    float: left
}

.red-suit {
    color: red;
    font-size: 1.5em;
}

.black-suit {
    color: black;
    font-size: 1.5em;
}

.totalScore {
    margin-bottom: 10px;
}

#claim-button {
    background-color: darkslategrey;
    color: white;
    width: 60px;
    border-radius: 0.4em;
    padding-left: 5px;
    border: 2px solid white;
    float: right;
    margin-top: 100px;
    margin-right: 15px;
    cursor: pointer;
}

#leaveGame {
    margin-top: 250px;
}

.comboScores,
.totalScore,
.allScores {
    border: 1px solid black;
    margin: 5px -8px;
    padding: 3px;
    background-color: blanchedalmond;
}

.team {
    border-bottom: 1px solid black;
    margin-bottom: 3px;
}

.playerDetails {
    margin-bottom: 15px;
}

@keyframes shake {
    0% { transform: translate(1px); }
    5% { transform: translate(-1px); }
    10% { transform: translate(-3px); }
    15% { transform: translate(3px); }
    20% { transform: translate(-3px); }
    25% { transform: translate(3px); }
    30% { transform: translate(1px); }
    35% { transform: translate(-1px); }
    40% { transform: translate(0px); }
}

.marked {
    border: 2px solid yellow;
}